.cards__blocks-ads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--cards-spacing)
}

.cards__block-ads {
    color: white;
    background-color: var(--gray);
}

.cards__block-ads:nth-child(2) {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 480px) {
    .cards__blocks-ads {
        grid-row-start: 2;
    }

    .cards__block-ads:nth-child(2) {
        aspect-ratio: auto;
    }

    .cards__block-ads:nth-child(1) {
        aspect-ratio: 2 / 1;
    }

    .cards__blocks-ads {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}