.cards__blocks-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--cards-spacing)
}

.cards__block-info {
    background-color: var(--green);
}

.cards__block-info:nth-child(1) {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 640px) {
    .cards__blocks-info {
        display: none;
    }
}