.cards__blocks-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--cards-spacing)
}

.cards__blocks-products .cards__block {
    background-color: var(--light-gray);
}

.cards__blocks-products .cards__block:nth-child(1) {
    aspect-ratio: 1 / 1;
}

.cards__blocks-products .cards__block:nth-child(4) {
    grid-column: span 2;
}

@media screen and (max-width: 480px) {
    .cards__blocks-products {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cards__blocks-products .cards__block:nth-child(4) {
        grid-row-start: 2;
    }
}