.cards__blocks-stocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--cards-spacing)
}

.cards__block-stocks:nth-child(2) {
    grid-column: span 2;
}

.cards__block-stocks {
    background-color: var(--yellow);
}

.cards__block-stocks:nth-child(1) {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 480px) {
    .cards__blocks-stocks {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .cards__block-stocks:nth-child(2) {
        grid-row-start: 1;
    }

    .cards__block-stocks:nth-child(3) {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .cards__block-stocks:nth-child(5) {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}