.header,
.footer {
    background-color: var(--black);
    color: white;
    width: 100%;
    padding: 35px;
    text-align: center;

    .title {
        font-size: 24px;
        line-height: 20px;
    }
}

.header__title {
    font-family: LabGrotesque, sans-serif;
}

.footer__title {
    font-weight: 400;
}